@font-face {
    font-family: "Roboto-Medium";
    src: url("fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Roboto-light" ;
    src: url("fonts/Roboto-Light.ttf");
}
body {
    font-family: 'Roboto-Medium';
}
h1 {
    font-size: 40px;
}
h2 { font-size: 28px;}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

}

#menu {
    display: flex;
    align-items: flex-end;
    word-spacing: 10px;
    margin-right: 12px;
}
#bone{
    color: #2596be;
    background-color: white;
    border-radius: 30px;
    border-color: #2596be;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-width: 0.6px;
}
#btwo {
    color:  white;
    background-color:#2596be;
    border-radius: 30px;
    border-color: #2596be;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-width: 0.6px;
}
.bred {
    color:  white;
    background-color:#ee5465;
    border-radius: 30px;
    border-color: #ee5465;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 0px;
}
#bblack {
    color:  black;
    background-color:white;
    border-radius: 30px;
    border-color: black;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 0.1px;
}

#one {
    height: 400px;
    padding-left: 150px;
    background-image: url("img/hero.png");
    background-position: left 80% top 35%;
    background-size: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#one h2 {
    color: #ee5465;
}

#two {
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #f9f9f9;

}
#two img {
    padding-right: 35px;
}

.sblock {
    width: 300px;
}
#btext {
    display: flex;
    justify-items: center;
}

#three {
    background-color:  #ee5465 ;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.icons {
    display: flex;
    gap: 30px;
    align-items: center;
}
#three div {

    padding-left: 40px;
    padding-right: 70px;
    
}
#three p {
    font-family: "Roboto-light";
}
#breakH {
    margin-top: 60px;
    text-align: center;
}
#four {
    display: flex;
    justify-content: center;   
}
.oddbutton {
    color:  white;
    background-color:gray;
    border-radius: 30px;
    border-color: gray;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 0px;
}
.boffers {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border: 0.2px solid;
border-color: lightgray;
display: flex;
flex-direction: column;
align-items: center;
height: 400px;
padding: 12px;
margin-right: 2px;
}
.unchecked {
    color:lightgray;
    list-style-image: url('/img/2025986.svg');
}
#blueoffers {
    background-color: #2d96c7;
    color:white;

}
.mentionslégales {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    color:lightgray;
    font-family: "Roboto-light";
    font-size: 8px;
}
.greyblock {
    background-color: #f0f0f0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 8px;
}
#margebas {
    margin-bottom: 0px;
}
em{
    color:#ee5465;
    font-style:normal;
}
.ctagrey {
    color:  black;
    border-radius: 30px;
    border-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 0.1px;
    margin-bottom: 30px;
    margin-top: 30px;
}
footer {
    background-color: black;
    color: white;
    padding-top: 80px;

}
#glossaire { 
    display: flex;
    justify-content: space-around;
    
}
#glossaire ul{
    list-style-type: none;
}
.headlist{
    padding-bottom: 20px;
    color:gray;
}
#RSLOGO {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 768px) {
    
}